<p id="notice"><%= notice %></p>

<h1>General Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_users.each do |general_user| %>
      <tr>
        <td><%= general_user.email %></td>
        <td><%= general_user.provider.name %></td>
        <td><%= link_to 'Show', general_user %></td>
        <td><%= link_to 'Edit', edit_general_user_path(general_user) %></td>
        <td><%= link_to 'Destroy', general_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General User', new_general_user_path %>
